<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pushOrPop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00FB6F031C04596800EE49F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00FB6F1C1C04596800EE49F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00FB6F271C04596800EE49F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
